<!DOCTYPE html>
<html>
    <head>
        <title>Vue email list</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!--Sezione alta pagina-->
        <header></header>

        <!--Sezione centrale pagina-->
        <main>

            <div id="app">  
                <ul>
                    <li v-if="mails.length === 10" v-for="(mail, i) in mails" :key="i">
                        {{ mails[i] }}
                    </li>
                </ul>
            </div>

        </main>

        <!-- Sezione bassa pagina-->
        <footer></footer>
        <script src="js/script.js"></script>
    </body>
</html>